@import '../../../styles'

#home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 90%

#instructions
    margin: 50px
    width: 800px
    background-color: mat-color($accent)
    color: mat-color($primary)
    padding: 50px
    border-radius: 15px
    font-weight: bold

#game-actions
    margin-top: 50px
    display: flex
    justify-content: space-evenly
    width: 500px