<div id="home">
    <div id="instructions">
        <h1>Bienvenido a Tic Tac Toe, este es un juego entre dos
            jugadores: O y X, los cuales deben marcan los espacios de un tablero de 3×3
            alternadamente. Un jugador gana si consigue tener una línea de tres de sus símbolos:
            la línea puede ser horizontal, vertical o diagonal.</h1>
    </div>
    <div id="game-actions">
        <button mat-raised-button color="primary" (click)="openNameDialog(true)"> Nuevo juego </button>
        <button mat-raised-button color="accent" (click)="openNameDialog(false)"> Unirse a una sala </button>
    </div>
</div>