@import '../../../styles'

#room
    display: flex
    flex-direction: column

#room-code
    margin: 50px 0 0 20px

#room-code span
    color: mat-color($accent)
    background-color: mat-color($primary)
    font-weight: bolder
    padding: 20px
    border-radius: 30px

#board-space
    display: flex
    justify-content: space-evenly
    align-items: center

#board-space h1
    display: flex
    align-items: center

#board-space h1 mat-icon
    margin-left: 15px
    color: mat-color($primary)
    background: mat-color($accent)
    border-radius: 20%

#exit-room
    margin: 50px auto 0 auto