
<div id="room">
    <h1 id=room-code>Código de la sala: <span>{{id}}</span> </h1>
    <div id="board-space" *ngIf="room">
        <h1>Jugador #1: {{room.player_one}} <mat-icon *ngIf="tile === player_one">radio_button_unchecked</mat-icon></h1>
        
        
        
        <app-board [player_one]="room.player_one" [player_two]="room.player_two ? room.player_two : 'Jugador 2'"></app-board>
    
        <h1>Jugador #2: {{room.player_two ? room.player_two : 'Jugador 2'}} <mat-icon *ngIf="tile === player_two">close</mat-icon></h1>
        
    </div>
    <div id="exit-room">
        <button (click)="exitRoom()" mat-raised-button color="primary">Salir de la sala</button>
    </div>
</div>




