@import '../../../styles'

#board
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 30px

#board-content
  display: flex
  justify-content: center
  margin-top: 30px

#board-tiles
  width: 500px

#waiting
  display: flex
  flex-direction: column
  align-items: center

mat-grid-tile
  background: mat-color($accent)

mat-grid-tile:hover
  background: mat-color($primary)
  color: white

mat-grid-tile button
    width: 100%
    height: 100%

mat-icon
  font-size: 50px
  width: 50px
  height: 50px

#play-again
  margin-top: 15px