<div id="board">
    <div *ngIf="draw === false"><h1>Es el turno de {{turn}}</h1></div>
    <div *ngIf="draw === true"><h1>Es un empate</h1></div>
    <div id="board-content">
        <mat-grid-list id="board-tiles" cols="3" rowHeight="1:1" >
            <mat-grid-tile 
            *ngFor="let tile of [null, null, null, null, null, null, null, null, null]; index as i"
            colspan = "1"
            rowspan = "1">
            <mat-icon *ngIf="tiles[i] === player_one">radio_button_unchecked</mat-icon>
            <mat-icon *ngIf="tiles[i] === player_two">close</mat-icon>
                <button *ngIf="!tiles[i]" mat-button (click)="clicked(i)">
                </button>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
    <button id="play-again" mat-button *ngIf="draw === true" mat-raised-button color="primary" (click)="playAgain()"> Jugar de nuevo </button>
</div>

