<div id="name">
    <div id="dialog">
        <div id="header-dialog">
            <div id="close-dialog">
              <span (click)="close()" class="material-icons" style="cursor: pointer;">
                close
                </span>
            </div>
            <h1 id="title-dialog" mat-dialog-title>Felicidades</h1>
        </div>
        <mat-dialog-content class="content-dialog">
            <h2>El ganador es {{data.winner}}</h2>
        </mat-dialog-content>

        <mat-dialog-actions id="actions-dialog">
            <button type="button" class="button-form" mat-stroked-button mat-dialog-close color="warn" >Cancelar</button>
            <button type="submit" class="button-form" (click)="playAgain()" mat-raised-button color="primary">Jugar de nuevo
                <mat-icon *ngIf="spinner">
                    <mat-spinner color='accent' diameter="20"></mat-spinner>
                </mat-icon>
            </button>
        </mat-dialog-actions>
        

    </div>
</div>
