@import '../../../styles'

#dialog
    width: 400px

#header-dialog
  display: flex
  flex-direction: row-reverse
  color: white
  margin: -24px
  text-align: center
  padding: 3% 4% 1%
  background-color: mat-color($primary)
  margin-bottom: 20px

#title-dialog
    width: 100%
    padding-top: 10px
    font-size: 22px
    text-align: center
    color: mat-color($accent)

#close-dialog
  display: flex
  place-content: center flex-end

#close-dialog span
    display: flex
    justify-content: flex-end
    font-size: 25px
    color: mat-color($accent)

.content-dialog
    margin-bottom: 0px
    padding: 0
    display: flex
    justify-content: center
    align-items: center
    padding-top: 10px

.button-form
    width: 45%
    width: 45%
    margin: 10px

#input
    width: 300px