<div id="name">
    <div id="dialog">
        <div id="header-dialog">
            <div id="close-dialog">
              <span (click)="close()" class="material-icons" style="cursor: pointer;">
                close
                </span>
            </div>
            <h1 id="title-dialog" mat-dialog-title>Ingresa a una sala</h1>
        </div>
        <form [formGroup]="playerForm" (submit)="submit()">

            <mat-dialog-content class="content-dialog" *ngIf="data.host === false">
                <mat-form-field appearance="outline" id="input">
                    <mat-label>Codigo de la sala</mat-label>
                    <input type="text" formControlName="code" matInput required>
                    <mat-error *ngIf="this.playerForm.get('code').hasError('required')">Este campo es requerido</mat-error>
                </mat-form-field>
            </mat-dialog-content>

            <mat-dialog-content class="content-dialog">
                <mat-form-field appearance="outline" id="input">
                    <mat-label>Nombre</mat-label>
                    <input type="text" formControlName="name" matInput required>
                    <mat-error *ngIf="this.playerForm.get('name').hasError('required')">Este campo es requerido</mat-error>
                </mat-form-field>
            </mat-dialog-content>

            <mat-dialog-actions id="actions-dialog">
                <button type="button" class="button-form" mat-stroked-button mat-dialog-close color="warn" >Cancelar</button>
                <button type="submit" class="button-form"  mat-raised-button color="primary">Continuar
                    <mat-icon *ngIf="spinner">
                        <mat-spinner color='accent' diameter="20"></mat-spinner>
                    </mat-icon>
                </button>
            </mat-dialog-actions>
           
        </form>
    </div>
</div>
