@import '../../../styles'
#title
    background-color: mat-color($primary)
    display: flex
    justify-content: center
    padding-top: 20px
    padding-bottom: 20px

#title a
    color: mat-color($accent)
    font-weight: bold
    font-size: 2em
    text-decoration: none
