@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-primary: mat-palette($mat-purple, 800);
$light-accent: mat-palette($mat-yellow, 700);
$light-warn: mat-palette($mat-red, 800);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$light-theme: mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,  
  )
));

$typography: mat-typography-config(
  $font-family: 'Lato'
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($light-theme);
@include angular-material-typography($typography);